<!DOCTYPE html>
<html>
<head>
<title>Register Student</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
}
</style>
</head>
<body>
<div style="height:85px;width:100%;background-color:#1f3;margin-top:-10px">
   <h2 style="padding-left:550px;padding-top:25px"> STUDENT HEALTH CENTRE</h2>
   <h3 style="padding-left:559px;padding-top:25px"> Student Database Administration</h3>
<br><div style="padding-top:10px;padding-left:500px">
<h1>Please enter the Student's Information</h1>
<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" name="new_entry">Create</button>
</form>
<br>
<h3><a style="text-decoration:none" href="/studentdb">Back to Home</a></h3>
</div>
</body>
</html>