<!DOCTYPE html>
<html>
<head>
<title>Renewed!</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
<div style="height:85px;width:100%;background-color:#1f3;margin-top:-10px">
   <h2 style="padding-left:500px;padding-top:25px"> STUDENT HEALTH CENTRE</h2>
   <h3 style="padding-left:559px;padding-top:25px"> Student Database Administration</h3>
<br><div style="padding-top:80px;padding-left:300px">
<h2>Health diary of the student has been successfully renewed and will be valid till the next 30th of June.</h2>
<h3><a style="text-decoration:none" href='/studentdb'>Back to Home</a></h3>
</div>
</body>
</html>